body{
background-color: midnightblue;
border-style: double;
border-color: white;
border-width: medium;
margin-top: 100px;
margin-bottom:200px;
margin-left:200px;
margin-right:200px;
}


h1{
  background-color: black;
  text-align: center;
  color: lightblue;
  font-size: 500%;
}

h2{
  background-color: black;
  color: lightblue;
  text-align: center;
  font-size: 300%;
}

h3{
  color: lightblue;
  text-align: center;
  font-size: 200%;
}

h4{
  color: lightblue;
  text-align: center;
  font-size: 125%;
}

h5{
  color: lightgrey;
  text-align: center;
  font-size: 125%;
}


p{
  color: white;
  font-size: 150%;
  padding-left: 50px;
}

li{
  color: white;
  font-size: 150%;
  padding-left: 20px;
}

.center{
  display: block;
  margin-left:auto;
  margin-right:auto;
}

a{
  color: lightblue;
  font-size: 75%;
}
