body{
background-color: lightblue;
border-style: double;
border-color: darkblue;
border-width: medium;
}

h1 {
  text-align: center;
  color: blue;
  font-size: 500%;
}

h2{
  text-align: center;
  font-size: 300%;
}

h3{
  text-align: center;
  font-size: 200%;
}

h4{
  text-align: center;
  font-size: 150%;
}

h5{
  text-align: center;
  font-size: 125%;
}


p{
  font-size: 150%;
  padding-right: 100px;
}

li{
  font-size: 150%;
    padding-right: 150px;
}

img{
  padding-right: 100px;
}
